<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Link to CSS stylesheets -->
    <link rel="stylesheet" href="/styles/style.css">

    <title>Black Hole Simulator</title>
</head>
<body>
    <section class="header">
        <h1>Welcome to the Black Hole Simulator</h1>
        <p>Explore the mysteries of black holes and their effects on space-time.</p>
        <div class="image-container">
            <img src="/media/optimized/blackhole.jpg" alt="Black Hole Image">
            <button class="button">
                <div class="blob1"></div>
                <div class="blob2"></div>
                <div class="inner">Start Simulator</div>
            </button>
        </div>
    </section>
</body>
</html>